	body {
		padding:0;
		margin:0;
		font-family: courier;
	}

#nav-bar {
	background-color: black;
	height: 30px;
	font-size: 20px;
	font-weight: light;
	padding: 20px;
	font-family: courier;
}

a {
	text-decoration: none;
	color: #EEDC82;
} 

a.active {
  font-weight: bold;
  color: #EEDC82;
}  
.sign-in-flex, .sign-up-flex {
	display: flex;
	justify-content: center;
}  
 
@media screen and (max-width: 600px) {
	#nav-bar {
    float: none;
    width: 100%;
  }
}


#sign-in-button, #sign-up-button  {
	background-color: black;
	color: #EEDC82;
	font-family: courier;
	font-weight: bold;
	font-size: 30px;
	width: 240px;
}

.sign-in-div, .sign-up-div {
	text-align: center;
	font-family: courier;
}	

#email, #password, #firstname, #lastname, 
#username, #phonenumber, #password, #confirm-password {
	width: 300px;
 	height: 30px;
	font-size: 20px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
  
}
  
.container {
	padding: 2px 2px;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	flex-direction: column;
	margin-top: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 15%;

	} 

	.flex-container { 
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-direction: column;
    margin-top: 5%;
	}

	.flex-container {
		display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
	}
}