		body {
	padding:0;
	margin:0;
	font-family: courier;
	}

#nav-bar {
 background-color: black;
 height: 30px;
 font-size: 20px;
 font-weight: light;
 padding: 20px;
 font-family: courier;
 }
 a {
text-decoration: none;
color: #EEDC82;
} 
a.active {
  font-weight: bold;
  color: #EEDC82;
}  
.sign-in-flex, .sign-up-flex {
	display: flex;
  	justify-content: center;
}  
 
@media screen and (max-width: 600px) {
   #nav-bar {
    float: none;
    width: 100%;
  }
}


#sign-in-button, #sign-up-button  {
	background-color: black;
	color: #EEDC82;
	font-family: courier;
	font-weight: bold;
	font-size: 30px;
	width: 240px;
}

.sign-in-div, .sign-up-div {
	text-align: center;
	font-family: courier;
}	

#email, #password, #firstname, #lastname, 
#username, #phonenumber, #password, #confirm-password {
	width: 300px;
 	height: 30px;
  	font-size: 20px;
}

 
