	body {
		padding:0;
		margin:0;
		font-family: courier;
	}

#nav-bar {
	background-color: black;
	height: 30px;
	font-size: 20px;
	font-weight: light;
	padding: 20px;
	font-family: courier;
}

a {
	text-decoration: none;
	color: #EEDC82;
} 

a.active {
  font-weight: bold;
  color: #EEDC82;
}  
.sign-in-flex, .sign-up-flex {
	display: flex;
	justify-content: center;
}  
 
@media screen and (max-width: 600px) {
	#nav-bar {
    float: none;
    width: 100%;
  }
}


#sign-in-button, #sign-up-button  {
	background-color: black;
	color: #EEDC82;
	font-family: courier;
	font-weight: bold;
	font-size: 30px;
	width: 240px;
}

.sign-in-div, .sign-up-div {
	text-align: center;
	font-family: courier;
}	

#email, #password, #firstname, #lastname, 
#username, #phonenumber, #password, #confirm-password {
	width: 300px;
 	height: 30px;
	font-size: 20px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
  
}
  
.container {
	padding: 2px 2px;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	flex-direction: column;
	margin-top: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 15%;

	} 

	.flex-container { 
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-direction: column;
    margin-top: 5%;
	}

	.flex-container {
		display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
	}
}

.box {
	border: 10px;
	padding-left: 30px;
	font-family: courier;
	width: 50%;
	margin: 10px auto;
}

.ul {
	color: #1DB6EF;
}
.dl {
	color: red;
}

.ub {
	border-color: #1DB6EF;
	color: #1DB6EF;
	font-family: courier;
	background-color: white;
}

.db {
	border-color: red;
	color: red;
	font-family: courier;
	background-color: white;
}
.ask-question, .post-comment-button {
	background-color: black;
	color: #EEDC82;
	font-family: courier;
}

hr {
	color: #EEDC82;
}

#index-sign-in-link{
	background-color: black;
	border-color: #EEDC82;
	color: #EEDC82;
	font-family: courier;
	width: 320px;
  	height: 60px;
  	font-size: 40px;
}

#index-sign-up-link{
	background-color: #EEDC82;
	border-color: #EEDC82;
	color: black;
	font-family: courier;
	width: 320px;
  	height: 60px;
  	font-size: 40px;
}
.index-flex {
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	
}
.profile-flex {
display:flex;
background-color: 
}


#showcase {
  background: url(index-photo.jpeg) no-repeat center center / cover;
  max-width: 100%;
  height: auto;
  padding: 100px 60px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  color: #EEDC82; 
}

.view-meet-up {
	background-color: black;
	color: #EEDC82;
	font-family: courier;
	width: 200px;
	height: 40px;
	font-size: 20px;
}

a:hover {
 	color: #F7E7CE;
	text-transform: uppercase;
}


#profile-photo {
	background-color: black;
	color: #EEDC82;
	font-family: courier;
}

.sign-flex {
	display: flex;
	flex-direction: row;
  	justify-content: center;
}
